* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

body {
  color: rgb(var(--foreground-rgb));
  font-family: Inter;
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

a {
  color: inherit;
  text-decoration: none;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
}


.mui-1vuxth3-MuiBarElement-root {
  width: 13px !important;
}

.apexcharts-xaxis-texts-g {
  color: "#BEC0CA";
  font-size: "16px";
}

.mui-n87he0-MuiGrid-root {
  width: 0px !important;
}